<h1>Reviews</h1>

<% @reviews.each do |review| %>

  <p><%= @status %> <%= link_to review.title, review_path(review) %> - <%= link_to "Delete", delete_review_path(review),
    method: :delete,
    data: { confirm: "Are you sure?" } %></p>
<% end %>
<br>
<p>-------------</p>
<p><%= link_to "Add a new review", new_review_path %></p>